body {
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

hr {
  width: 35%;
}

img {
  display: inline-block;
  margin: 50px 30px;
  vertical-align: top;
  width: 300px;
}

p {
  line-height: 1.5;
  background-color: rgb(253, 255, 134);
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #7BFF4F;
  margin: 10px 0 30px;
  font-size: 20px;
}

.hidden {
  display: none;
}
/* 
canvas {
  width: 900px !important;
} */
